* {
    box-sizing: border-box;
    font-family: "Courier New", "Comic Sans", 'Arial Narrow Bold', sans-serif;
}

.case {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    width: 400px;
    height: auto;
    padding: 30px;
    background-color: #E4EBF0;
    border-radius: 5%;
}

.screen {
    display: flex;
    flex-grow: 1; /* allow screen to grow if number overflows*/

    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    background-color: #7CBDD5;
    border-radius: 16px;
    min-height: 120px;
    padding: 12px;

    font-size: 40px;
}
.entry {
    /* Handle number length overflow */
    display: block;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: right;
}




/* All buttons */
.buttons {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 16px;
}

/* Generic styling for buttons */
button {
    /* each button takes at least 20% of the width. 
    It will take more if there is remaining space with flex-grow: 1 */
    flex: 1 0 20%;

    background-color: #ceccd1;
    color: #3f5267;
    font-weight: bolder;
    font-size: 40px;
    border: none;

    height: 70px; /* set standardized height for all buttons */
}

/* Clear and Delete buttons */
.others {
    display: flex;
    gap: 16px;
    /* Top buttons take 100% of the available width */
    flex-basis: 100%;

}
.others > button {
    font-size: 30px;
    font-weight: 550;
    background-color: #d087ec;
}

.operator {
    background-color: #F0C252;
}